* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    text-decoration: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

*::-webkit-scrollbar {
  display: none;
}
body {
    font-size: 120%;
    background: #f8f8f8;
}

.header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: #35db38;
    text-align: center;
    border: 1px solid #b0c4de;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}

form {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #b0c4de;
    background: white;
    border-radius: 0px 0px 10px 10px;
}

.homeheader {
    text-align: right;
    font-size: 5rem;
}

.homecontent {
    text-align: center;
    padding-top: 3rem;
    width: 100%;
    background: #ccc;
    height: 100vh;
}

.input-group {
    margin: 10px 0px 10px 0px;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}

.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #80e166;
    border: none;
    border-radius: 5px;
}

.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}
.success {
    color: #3c763d;
    background: #dff9d8;
    border: 1px solid #80e166;
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.container {
    width: 90vw;
    margin: 0 auto;
    display: flex;
}
.sidebar {
    width: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}  
nav {
    width: 100%;
    height: 7vw;
    background: linear-gradient(125deg, #75d847, #0fbc38);
  }
  .nav-container {
    max-width: 90vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logonav {
    width: 7vw;
    object-fit: contain;
  }
  .nav-profile {
    display: flex;
    align-items: center;
  }
  .nav-profile-name {
    color: #fff;
    font-size: 1.2vw;
    margin-right: 10px;
  }
  .fa-cart-shopping {
    font-size: 2vw;
    color: #fff;
  }
  .nav-profile-cart {
    position: relative;
  }
  .cartcount {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 25px;
    height: 25px;
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .container {
    width: 90vw;
    margin: 0 auto;
    display: flex;
  }
  .sidebar {
    width: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .product {
    width: 80%;
    padding: 10px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  .sidebar-search {
    padding: 10px;
    border: 2px solid transparent;
    width: 100%;
    font-size: 1.2vw;
    outline: none;
    border-radius: 5px;
    background: #f2f2f2;
    transition: 0.3s;
    margin-bottom: 20px;
  }
  .sidebar-search:focus {
    border: 2px solid #e61b36;
  }
  .sidebar-items {
    background: #f2f2f2;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    color: #000;
    transition: 300ms;
    font-size: 1.2vw;
  }
  .sidebar-items:hover {
    background: #9c1032;
    color: #fff;
  }
  .product-items {
    cursor: pointer;
    transition: 0.3s;
  }
  .product-items:hover {
    transform: scale(1.03);
  }
  .product-img {
    width: 100%;
    height: 17vw;
    object-fit: cover;
    border-radius: 10px;
  }
  .modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-page {
    min-width: 30vw;
    max-width: 60vw;
    max-height: 30vw;
    overflow: scroll;
    background: #fff;
    border-radius: 15px;
    padding: 20px;
  }
  .modaldesc-content {
    width: 100%;
    display: flex;
  }
  .modaldesc-detail {
    margin-left: 20px;
  }
  .modaldesc-img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 10px;
  }
  .btn-control {
    display: flex;
    justify-content: flex-end;
  }
  .btn {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 1.2vw;
    transition: 0.3s;
  }
  .btn-buy {
    background: linear-gradient(125deg, #e61b36, #9c1032);
    color: #fff;
    margin-left: 10px;
  }
 
  .cartlist-items {
    width: 50vw;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  .cartlist-left {
    display: flex;
  }
  .cartlist-right {
    display: flex;
    align-items: center;
  }
  .cartlist-left img {
    width: 5vw;
    height: 5vw;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
  }
  .btnc {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    cursor: pointer;
  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  